<div class="axes-fs">
  <div class="fs-inner">
    <div class="sh-row rv">
      <div><div class="sh-lbl">Domaines d'expertise</div><div class="sh-title">Nos axes de recherche</div><div class="sh-sub">Quatre grands domaines stratégiques pour construire la ville intelligente de demain.</div></div>
      <a href="/axes" class="btn-s">Voir le détail</a>
    </div>
    <div class="axes-grid-big rv">
      <a href="/axes" class="axe-card-big">
        <div class="axe-num">01</div>
        <div class="axe-ico-big"><svg viewBox="0 0 24 24"><path d="M7 2v11h3v9l7-12h-4l4-8z"/></svg></div>
        <h3>Énergie & Environnement</h3>
        <p>Solutions énergétiques durables, gestion intelligente des ressources naturelles, énergies renouvelables et transition écologique urbaine. Qualité de l'air et gestion des déchets.</p>
        <div class="axe-tags"><span class="atag">Énergie solaire</span><span class="atag">Smart Grid</span><span class="atag">Qualité de l'air</span></div>
        <div class="axe-arrow">Explorer cet axe <svg viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></div>
      </a>
      <a href="/axes" class="axe-card-big">
        <div class="axe-num">02</div>
        <div class="axe-ico-big"><svg viewBox="0 0 24 24"><path d="M1 9l2 2c4.97-4.97 13.03-4.97 18 0l2-2C16.93 2.93 7.08 2.93 1 9zm8 8l3 3 3-3c-1.65-1.66-4.34-1.66-6 0zm-4-4l2 2c2.76-2.76 7.24-2.76 10 0l2-2C15.14 9.14 8.87 9.14 5 13z"/></svg></div>
        <h3>Connectivité & IoT</h3>
        <p>Infrastructure numérique, objets connectés, réseaux LoRaWAN et gestion des données urbaines. Interopérabilité des systèmes et déploiement de capteurs à grande échelle.</p>
        <div class="axe-tags"><span class="atag">IoT</span><span class="atag">LoRaWAN</span><span class="atag">Données urbaines</span></div>
        <div class="axe-arrow">Explorer cet axe <svg viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></div>
      </a>
      <a href="/axes" class="axe-card-big">
        <div class="axe-num">03</div>
        <div class="axe-ico-big"><svg viewBox="0 0 24 24"><path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99z"/></svg></div>
        <h3>Mobilité Urbaine</h3>
        <p>Transport intelligent, mobilité douce et optimisation des flux. Signalisation adaptative, information voyageur en temps réel et planification multimodale des déplacements.</p>
        <div class="axe-tags"><span class="atag">Transport intelligent</span><span class="atag">Multimodal</span><span class="atag">IA trafic</span></div>
        <div class="axe-arrow">Explorer cet axe <svg viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></div>
      </a>
      <a href="/axes" class="axe-card-big">
        <div class="axe-num">04</div>
        <div class="axe-ico-big"><svg viewBox="0 0 24 24"><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4z"/></svg></div>
        <h3>Gouvernance & Sécurité</h3>
        <p>Administration numérique, cybersécurité et systèmes de gouvernance intelligente. Transformation digitale des collectivités, protection des données et résilience des infrastructures.</p>
        <div class="axe-tags"><span class="atag">E-gouvernance</span><span class="atag">Cybersécurité</span><span class="atag">Résilience</span></div>
        <div class="axe-arrow">Explorer cet axe <svg viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></div>
      </a>
    </div>
  </div>
</div>
