<div id="pl">
  <div class="pl-box"><svg viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 14H9V8h2v8zm4 0h-2V8h2v8z"/><path d="M3 12a9 9 0 0 0 9 9V3a9 9 0 0 0-9 9z" style="opacity:.4"/></svg></div>
  <div class="pl-b"><div class="pl-f"></div></div>
  <div class="pl-t">Centre Smart City · UCA</div>
</div>
