<div class="topbar">
  <div class="tb-in">
    <div class="tb-l">
      <a href="#"><svg style="width:13px;height:13px;fill:currentColor;vertical-align:middle" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg> <%= settings.general.address %></a>
      <a href="mailto:<%= settings.general.contactEmail %>"><svg style="width:13px;height:13px;fill:currentColor;vertical-align:middle" viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg> <%= settings.general.contactEmail %></a>
      <a href="#"><svg style="width:13px;height:13px;fill:currentColor;vertical-align:middle" viewBox="0 0 24 24"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg> <%= settings.general.contactPhone %></a>
    </div>
    <div class="tb-r">
      <a href="/qui-sommes-nous"><svg style="width:13px;height:13px;fill:currentColor;vertical-align:middle" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg> Qui sommes-nous</a>
      <span style="color:rgba(255,255,255,.12)">|</span>
      <a href="/admin"><svg style="width:13px;height:13px;fill:currentColor;vertical-align:middle" viewBox="0 0 24 24"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2z"/></svg> Admin</a>
    </div>
  </div>
</div>
